# ------------------------------------------------------------------------------------ Dossiers
/0_test
/2_db
/1_app_fivem/fivem/cache/*

# ------------------------------------------------------------------------------------ Extensions
*.env